/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */

html {
	font-size: 16px;
}

body {
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}

.content-wrapper {
	width: 90%;
}

ul, 
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #e2e3ed;
	text-decoration: none;
}

h1 {
	font-family: 'Poppins', sans-serif;
	color: #E2E3Ed;
	font-weight: 100;
}

h2 {
	font-family: 'Poppins', sans-serif;
	color: #E2E3Ed;
	font-weight: 100;
}

h3, 
h4 {
	font-family: 'Poppins', sans-serif;
	color: #E2E3Ed;
	font-weight: 100;
}

p {
	line-height: 1.285;
	color: #E2E3Ed;
}

address {
	font-style: normal;
}

/*Background Image Styles*/
.hero-area {
	background: url('../img/hero-image.jpg') center no-repeat #202322;
	background-size: cover;
}

.features {
	background: url('../img/features-bg.jpg') center no-repeat #202322;
	background-size: cover;
}

 /* -------------------- Base Header - Footer Styles -------------------- */
 
header {
	padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	background-color: #202322;
}

header .content-wrapper {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	padding-bottom: 20px;
	margin: 0;
}

header figure { 
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	margin: 0;
}

header img {
	max-width: 100%;
}

.header-divider {
	width: 100%;
	height: 1px;
	margin: 10px 0 20px;
	border-bottom: 1px solid #3A3A3A;
}

header nav {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	width: 60%;
}

header nav ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	text-transform: uppercase;
	font-weight: 600;
}

footer { 
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #202322;
} 

footer .content-wrapper {
	width: 100%;
	margin-top: 30px;
}

footer h4 {
	margin-bottom: 15px;
}

footer .contact {
	margin-bottom: 50px;
}

footer .social {
	margin-bottom: 50px;
}

footer .social-icons {
	display: flex;
	justify-content: space-around;
    align-items: center;
}

footer .copyright {
	margin-bottom: 15px;
	word-spacing: 2px;
	
}

footer p {
	margin: 0;
}


/*-------------------- Mobile Styles - Homepage --------------------*/

/* Base Styles */
h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 1.9em;
}

h3 {
	font-size: 1.13em;
	font-weight: 300;
}

h4 {
	font-size: 1.13em;
}

p {
	font-size: .9em;
}

/* Navigation Menu */
nav {
	font-size: 1.13em;
}

/* Hero Area */
.hero-area {
	height: 31.25em;
	display: flex;
	justify-content: center;
    align-items: flex-start;
	background-color: #202322;
}

.hero-area .content-wrapper {
	margin: 40px 0 0;
}

.hero-area h1 {
	word-spacing: 2px;
	margin: 0;
}

/* Aside */
aside {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	background-color: #527158;
}

aside .content-wrapper {
	margin: 10px 0 50px;
}

aside h3 {
	margin: 20px 0 10px;
}

aside p {
	margin: 0;
}

aside .form {
	margin-top: 30px;
}

/* Features */
.features {
	display: flex;
	justify-content: center;
    flex-flow: row wrap;
	background-color: #202322;
}

.features .content-wrapper {
	margin: 30px 0;
}

.features article {
	width: 63%;
	margin: 30px 0;
}

.features h2 {
	margin: 0;
	line-height: 35px;
	word-spacing: 2px;
}

.features .features-items {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	text-align: center;
}

.features p {
	margin: 0;
}

/* Reviews */
.reviews {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	background-color: #2A423A;
}

.reviews .content-wrapper {
	padding: 40px 0 40px;
}

.reviews h2 {
	line-height: 35px;
	word-spacing: 2px;
	margin: 0 0 20px;
}

.reviews figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
	margin: 0;
}

.reviews img {
	width: 100%;
}

.reviews h3 {
	width: 55%;
	line-height: 25px;
	margin: 15px 0 5px;
}

.reviews p {
	margin: 0;
}

/* -------------------- About Page -------------------- */
.mission {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	background-color: #527158;
}

.mission .content-wrapper {
	margin: 50px 0 30px;
}

.mission h2 {
	font-size: 1.9em;
	margin: 0 0 10px;
	line-height: 38px;
}

.mission p {
	margin: 0 0 15px;
}

/* -------------------- Contact Section -------------------- */
.contact-section {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	background-color: #2a423a;
}

.contact-section .content-wrapper {
	margin: 50px 0 30px;
}

.contact-section h2 {
	font-size: 1.9em;
	line-height: 38px;
	margin: 0 0 10px;
}

.contact-section h4 {
	margin: 0 0 10px;
}

.contact-section address {
	margin: 0 0 10px;
}

/* -------------------- FAQ Page -------------------- */

.faq {
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	background-color: #527158;
}

.faq .content-wrapper {
	margin: 30px 0 15px 0;
	display: flex;
	justify-content: center;
    align-items: center;
	flex-flow: row wrap;
}

.faq h2 {
	line-height: 35px;
}

.faq h4 {
	margin: 10px 0; 
}

.faq p {
	margin: 0 0 35px;
}

/*-------------------- Button and Text Input --------------------*/ 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  height: 20%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  height: 25%;
  padding: 10px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.13em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/*-------------------- Tablet Styles --------------------*/
@media only screen and (min-width: 768px) {
	
/*Header and Footer*/
	.content-wrapper {
		max-width: 640px;
		margin: 100px 0;
	}
	
	header .content-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
	}
	
	header figure {
		width: 30%;
	}

	header nav {
        width: 20%;
    }
	
	header nav ul {
		justify-content: space-between;
		font-size: 1em;
    }
	
	.header-divider {
        display: none;
    }
	
	footer .content-wrapper {
		margin: 70px 70px 0;
	}
	
	.content-wrapper .footer-content {
		display: flex;
		justify-content: center;
		align-content: space-between;
		flex-wrap: wrap;
	}

	.content-wrapper .footer-content div {
		width: 50%;
	}
	
	footer h4 {
		font-size: 1.5em;
	}
	
	.copyright {
		margin-top: 40px;
	}
	
/*Home Page*/
	
	
	.hero-area h1 {
		font-size: 3em;
		line-height: 48px;
		margin-top: 30px;
	}
	
	aside .content-wrapper {
		display: flex;
		justify-content: space-between;
		margin: 30px 0 20px;
	}
	
	.form-description {
		width: 40%;
	}

	aside h3 {
		font-size: 1.5em;
		line-height: 30px;
		margin: 0 0 10px;
	}
	
	aside p {
		line-height: 18px;
	}
	
	aside .form {
		width: 50%;
		margin: 0;
	}
	
	.features .content-wrapper {
		margin: 70px 0 40px;
	}
	
	.features h2 {
		width: 100%;
		font-size: 2.2em;
		line-height: 48px;
	}
	
	.features .features-items {
		display: flex;
		justify-content: space-around;
	}
	
	.features article {
		width: 34%;
	}
	
	.reviews .content-wrapper {
		margin: 70px 0;
	}
	
	.reviews article div {
		column-count: 2;
		column-span: all;
		column-width: 49%;
	}

	.reviews h2 {
		width: 85%;
		font-size: 2.3em;
		margin: 0 0 20px;
	}
	
	.reviews h3 {
		width: 100%;
		font-size: 1.5em;
		line-height: 30px;
		margin: 0 0 20px;
	}
	
	.reviews figure {
		width: 100%;
	}
	
	.reviews p {
		width: 100%;
		line-height: 18px;
	}

/*About Page*/
	.mission .content-wrapper {
		margin: 90px 0;
	}
	
	.mission h2 {
		font-size: 2.3em;
		line-height: 45px;
		margin: 0 0 30px;
	}
	
	.mission-content {
		display: flex;
		justify-content: space-between;
	}

	.mission-content p {
		width: 46%;
	}
	
	.contact-section .content-wrapper {
		margin: 90px 0;
	}
	
	.contact-section h2 {
		width: 90%;
		font-size: 2.3em;
		letter-spacing: 1px;
	}
	
	.contact-section h4 {
		font-size: 1.5em;
	}
	
	.contact-content {
		display: flex;
		justify-content: space-between;
	}
	
/*FAQ Page*/
	.faq .content-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin: 80px 0;
	}
	
	.faq-content {
		width: 47%;
		margin: 30px 0 0;
	}
	
	.faq h2 {
		font-size: 2.3em;
		line-height: 48px;
		margin: 0 0 5px;
	}
	
	.faq h4 {
		font-size: .9em;
		font-weight: 100;
		margin: 0 0 10px;
	}
	
	.faq p {
		margin: 0;
	}
}

@media only screen and (min-width: 1200px) {
	.content-wrapper {
         max-width: 960px;
    }
	
/*Header and Footer*/
	header {
		padding: 30px 0;
	}
	
	header nav {
		width: 15%;
	}
	
	footer {
		padding-top: 50px;
	}
	
	footer .content-wrapper {
		max-width: 100%;
		margin: 0;
	}
	
	footer-content {
		margin: 50px 0 0;
	}
	
	footer h4 {
		font-size: 1.9em;
	}
	
	footer p {
		font-size: 1.13em;
	}
	
/*Home Page*/
	.hero-area {
		height: 36.9em;
	}
	
	.hero-area .content-wrapper {
		margin: 10px 0 0;
	}
	
	.hero-area h1 {
		width: 70%;
		font-size: 3.75em;
		line-height: 70px;
	}
	
	aside .content-wrapper {
		width: 70%;
		margin: 50px 0 30px;
	}
	
	.form-description {
		width: 40%;
	}
	
	aside .form {
		width: 40%;
	}
	
	aside h3 {
		font-size: 1.9em;
		width: 100%;
	}
	
	aside p {
		width: 70%;
	}
	
	.features .features-items {
		width: 100%;
	}
	
	.features h2 {
		font-size: 2.3em;
	}
	
	.features article {
		width: 25%;
		padding-left: 45px;
	}

	.features p {
		width: 75%;
		font-size: 1.13em;
	}
	
	.reviews .content-wrapper {
		margin: 40px 0;
	}
	
	.reviews h2 {
		margin: 0 0 90px;
	}
	
	.reviews img {
		margin-right: 30px;
	}
	
	.reviews h3 {
		width: 70%;
		font-size: 1.9em;
		line-height: 40px;
	}
	
	.reviews p {
		width: 95%;
		font-size: 1.19em;
		line-height: 30px;
	}
	
/*About Page*/
	.mission h2 {
		font-size: 3em;
		width: 90%;
		line-height: 55px;
		margin-bottom: 20px;
	}
	
	.mission p {
		font-size: 1.13em;
	}
	
	.contact-section .content-wrapper {
		margin: 50px 0;
	}
	
	.contact-content {
		width: 87%;
		margin-bottom: 20px;
	}
	
	.contact-section h2 {
		width: 100%;
		margin: 10px 0;
		font-size: 3em;
		letter-spacing: normal;
		line-height: 72px;
	}
	
	.contact-section h4 {
		font-size: 1.9em;
		margin: 0 0 20px;
	}
	
	.contact-section p {
		font-size: 1.13em;
		margin: 0;
	}
	
/*FAQ Page*/
	.faq h2 {
		font-size: 3em;
	}
	
	.faq h4, p {
		font-size: 1.13em;
	}


	
	 
	
	
	
}


==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ==========================================================================

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

